In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_rating=pd.read_csv('Data/movies_rating.csv')
# movies_new=pd.read_csv('Data/myrating_shirley is the best.csv')

In [3]:
def drop_users(df,userId):
    '''
    replace existing user's ratings with new ratings
    '''
    index=df[df['userId']==userId].index
    df=df.drop(index,axis=0)
    return df

In [4]:
def change_new_rating(df,userId):
    df.dropna(inplace=True)
#     df.drop(['title','Unnamed: 3'],axis=1, inplace=True)
    df.drop(['title','Unnamed: 3'],axis=1, inplace=True)
    df['userId']=userId
    df['movieId']=df.movieId.apply(lambda s: int(s))
    return df

In [5]:
# userId +1
movies_new=change_new_rating(movies_new,2)

In [7]:
def merge_df(df1,df2):
    userId=df2['userId'].unique()[0]
    df1=drop_users(df1,userId)
    rating_df=pd.concat([df1,df2],axis=0)
    rating_df=rating_df.sort_values('userId').reset_index(drop=True)
    return rating_df

In [8]:
movies_merge_df=merge_df(movies_rating,movies_new)
movies_merge_df[movies_merge_df['userId']==2]

        userId  movieId  rating
0            1     1960     5.0
1            1     5816     4.0
2            1     2291     5.0
3            1    76093     5.0
4            1    59315     4.5
...        ...      ...     ...
100120     671        1     5.0
100121     671       36     4.0
100122     671       50     4.5
100123     671     6565     3.5
100124     671     3253     3.0

[100125 rows x 3 columns]

In [13]:
# make a copy of the original file first
movies_merge_df.to_csv('movies_rating.csv',index=False)